<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>deORO micro MARKET</title>
    <meta name="description" content="deORO micro MARKET">
    <meta name="keywords" content="deORO selfcheckout micro market">
    <link rel="stylesheet" href="http://deoromarkets.com/css/email.css" />
</head>
<body>
    <table class="tblHeader">
        <tr>
            <td>
                <a href="#">
                    <img src="http://deoromarkets.com/static/deORO/images/LogoDeOro.jpg" alt="deORO microMARKET" title="deORO microMARKET"/></a>
            </td>
            <td>deORO Markets<br />
                602 S. Meadow, Odessa, TX 79761<br />
                432-413-1370</td>
        </tr>
        <tr>
        </tr>
    </table>
    <br />
    Dear <b>{0}</b>,<br />
    <br />
    {1}
    <br />
    <br />
    If you haven't initiated this action please inform <a href="mailto:deORO.micro.MARKET@gmail.com">deORO Team</a>. <br />
    Thank you for using deORO.
</body>
</html>
