@model IEnumerable<deORODataAccess.accountbalancehistory>

<div class="box-body table-responsive">
    <table class="table table-bordered table-striped" id="grid">
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Account Balance</th>
                <th>Date Time</th>
            </tr>
        </thead>

        @foreach (var m in Model)
        { <tr>
            <td style="width: 30%">@m.description</td>
            <td style="width: 20%">@m.amount</td>
            <td style="width: 10%">@m.account_balance</td>
            <td style="width: 10%">@m.created_date_time</td>
        </tr>
        }
    </table>
</div>
