<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="application" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="mail" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="bill" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="coin" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="cardreader" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="cardprocessor" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="barcodereader" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="usbrelay" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="camerafeed" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="refillrewards" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="marshall" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="dispense" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ftp" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="printer" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <runtime>
    <legacyCasPolicy enabled="true" />
    <gcServer enabled="true" />
    <NetFx40_LegacySecurityPolicy enabled="true" />
    <loadFromRemoteSources enabled="true" />
    <legacyUnhandledExceptionPolicy enabled="1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="SlideShowImagesPath" value="c:\Temp\Images" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <application>
    <add key="SlideShowImagesPath" value="c:\Temp\Images" />
    <add key="AdminUserId" value="Administrator">
    </add>
    <add key="AdminPassword" value="Password123">
    </add>
    <add key="LocationId" value="1">
    </add>
    <add key="LocationName" value="Rama Location">
    </add>
    <add key="CustomerId" value="2">
    </add>
    <add key="CustomerName" value="o">
    </add>
    <add key="ImageCycleInterval" value="5">
    </add>
    <add key="DisableCancelTransactionAfter" value="0.10">
    </add>
    <add key="EnableVirtualKeyboard" value="true">
    </add>
    <add key="deOROServiceUrl" value="http://localhost:51520/SyncDataService.svc"></add>
    <add key="deOROServiceAccessUserName" value="deoro"></add>
    <add key="deOROServiceAccessPassword" value="deoro"></add>
    <add key="UserSharedAcrosssLocations" value="false"></add>
    <add key="ImagesPath" value="C:\Temp\Images">
    </add>
    <add key="CreditCardProcessor" value="Usat">
    </add>
    <add key="IdleTimeout" value="15">
    </add>
    <add key="RunMode" value="release">
    </add>
    <add key="AutologoffCountdownTimer" value="40">
    </add>
    <add key="SyncInterval" value="3600">
    </add>
    <add key="BarcodeLogin" value="true">
    </add>
    <add key="EnableCameraFeed" value="false">
    </add>
    <add key="VideosPath" value="C:\Temp\Videos" />
    <add key="CameraCycleInterval" value="20">
    </add>
    <add key="Round" value="0.05" />
    <add key="Enable20WhenAmountIsGreaterOrEqualTo" value="5" />
    <add key="CommunicationType" value="MDB" />
    <add key="EnableCoin" value="true" />
    <add key="EnableBill" value="true" />
    <add key="AutoCloseMessage" value="8" />
    <add key="EnableFingerprintAuthentication" value="true" />
    <add key="EnableDiscounts" value="false">
    </add>
    <add key="DefaultToNumericKeyPad" value="true">
    </add>
    <add key="EmailRequiredToRegister" value="false">
    </add>
    <add key="FirstLastNameRequiredToRegister" value="false">
    </add>
    <add key="EnableDispenseChange" value="true">
    </add>
    <add key="NewUserCredit" value="0">
    </add>
    <add key="DemoMode" value="false">
    </add>
    <add key="MDBVendor" value="Coinco">
    </add>
    <add key="CopyFrom" value="D:\Rama\OneDrive\GBB\deORO">
    </add>
    <add key="Currency" value="USD">
    </add>
    <add key="DisableCoinDispenseWhenChangeIsGreaterThan" value="10.00">
    </add>
    <add key="FingerprintThresholdScore" value="214748">
    </add>
    <add key="NoteReaderNoteSetPayment" value="1USD,2USD,5USD,10USD,20USD">
    </add>
    <add key="NoteReaderNoteSetRefil" value="1USD,2USD,5USD,10USD,20USD">
    </add>
    <add key="Orientation" value="landscape"></add>
    <add key="CollapseRightPane" value="true"></add>
    <add key="CompanyEmail" value="deoromarketsd.com"></add>
    <add key="DOBandGenderRequired" value="false"></add>
    <add key="VmsProvider" value="deORO">
    </add>
    <add key="PaymentOptions" value="BillPay,CreditCardPay,CoinRefill,BillRefill,CreditCardRefill,MyAccountPay,MyPayrollPay,ChangeAbandoned"></add>
    <!-- BillPay,CoinPay,CreditCardPay,BillRefill,CoinRefill,CreditCardRefill,MyAccountPay,MyPayrollPay,Reward,ChangeAbandoned-->
    <add key="AutoCredit" value="true"></add>
    <add key="CorrectChange" value="false"></add>
    <add key="DisablePopups" value="true"></add>
    <add key="DispenseInIdleTimeout" value="false"></add>
    <add key="AddItemsVisible" value="true"></add>
    <add key="SearchVisible" value="true"></add>
    <add key="RefillButtonVisible" value="false"></add>
    <add key="MainScreen" value="0"></add>
    <add key="SecondScreen" value="\\.\DISPLAY2"></add>
    <add key="EnableCardAuthentication" value="false" />
  </application>
  <usbrelay>
    <add key="KMtronic" value="COM7">
    </add>
    <add key="KMtronicTimeout" value="5">
    </add>
  </usbrelay>
  <mail>
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587">
    </add>
    <add key="EnableSSL" value="true">
    </add>
    <add key="SmtpUserName" value="deORO.micro.MARKET@gmail.com">
    </add>
    <add key="SmtpPassword" value="86@OO2841#!315">
    </add>
    <add key="FromMailAddress" value="deORO.micro.MARKET@gmail.com">
    </add>
    <add key="CCAddress" value="rgangavalliiiii@gmail.com">
    </add>
    <add key="SmtpAuthenticationMode" value="1">
    </add>
    <add key="ToAddress" value="rk638iii@yahoo.com">
    </add>
  </mail>
  <bill>
    <add key="COMPort" value="COM1">
    </add>
    <add key="PUPMode" value="A">
    </add>
  </bill>
  <coin>
    <add key="COMPort" value="COM6">
    </add>
  </coin>
  <cardreader>   
   <add key="CardReaderMake" value="IDTECH"></add> 
    <add key="DeviceName" value="Vendi">
    </add>
    <add key="SerialNumber" value="K3IDT638T960412">
    </add>
    <add key="CardReaderType" value="14">
    </add>
    <add key="CardType" value="C">
    </add>
    <add key="Encoding" value="ascii">
    </add>
    <add key="CardReaderCOMPort" value="5">
    </add>
  </cardreader>
  <cardprocessor>
    <add key="CardProcessorCompanyName" value="USAT">
    </add>
    <add key="CreditRound" value="0.00" />
    <add key="CreditAddRefill" value="0.00" />
    <add key="UserName" value="usat">
    </add>
    <add key="Password" value="38005911">
    </add>
    <add key="Url" value="https://ec.usatech.com:9443/soap/ec">
    </add>
    <add key="HeartlandSecretApiKey" value="skapi_cert_MVuOAQAY7VQAKJu84gNielXs0n90xKD-fZu3s5PPzQ">
    </add>
    <add key="ZipCodeRequired" value="false">
    </add>
    <add key="CardProcessorTimeout" value="60">
    </add>
    <add key="IP" value="192.168.0.117">
    </add>
    <add key="IPPort" value="9999">
    </add>
    <add key="CardKnoxKey" value="DeoroMarketsDEV_Test">
    </add>
    <add key="ApiVersion" value="4.5.4">
    </add>
  </cardprocessor>
  <barcodereader>
    <add key="BarcodeReaderDeviceMake" value="Code">
    </add>
    <add key="DeviceName" value="Code">
    </add>
    <add key="LoginPrefix" value="deORO_">
    </add>
    <add key="ConversionPrefix" value="4000">
    </add>
  </barcodereader>
  <camerafeed>
    <add key="Camera1" value="">
    </add>
    <add key="Camera2" value="">
    </add>
    <add key="Camera3" value="">
    </add>
    <add key="Camera4" value="">
    </add>
  </camerafeed>
  <refillrewards>
    <add key="EnableRefillRewards" value="false">
    </add>
    <add key="1-4.99" value="0">
    </add>
    <add key="5-9.99" value="0">
    </add>
    <add key="10-19.99" value="0">
    </add>
    <add key="20+" value="0">
    </add>
    <add key="ConversionReward" value="0.00"></add>
  </refillrewards>
  <marshall>
    <add key="COMPort" value="COM5">
    </add>    
    <add key="HardwareId" value="USB\VID_067B&amp;PID_2303&amp;REV_0400">
    </add>
  </marshall>
  <dispense>
    <add key="BillDispenser" value="false">
    </add>
    <add key="CoinHopper" value="false">
    </add>
    <add key="RecycleNote" value="5USD">
    </add>
  </dispense>
  <ftp>
    <add key="FtpHostName" value="209.159.152.234">
    </add>
    <add key="FtpPort" value="21">
    </add>
    <add key="FtpUser" value="kevin">
    </add>
    <add key="FtpPassword" value="tortilla24">
    </add>
    <add key="FtpCustomer" value="ftp_santaclarita">
    </add>
    <add key="FtpLocation" value="Location1">
    </add>
  </ftp>
  <printer>
    <add key="PrinterConnected" value="false"></add>
    <add key="PortName" value="true"></add>
    <add key="PortSettings" value="true"></add>
  </printer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>-->
  <connectionStrings>
    <!--<add name="deOROEntities" connectionString="metadata=res://*/DataAccess.deOROModel.csdl|res://*/DataAccess.deOROModel.ssdl|res://*/DataAccess.deOROModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=deORO_1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="deOROEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=C:\Users\Rama\Documents\Visual Studio 2012\Projects\deORO\deORO\App_Data\deORO.sdf&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="deOROEntities" connectionString="metadata=res://*/deORODataAccessApp.deOROModel.csdl|res://*/deORODataAccessApp.deOROModel.ssdl|res://*/DataAccess.deOROModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\deORO.sdf&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="deOROEntities" connectionString="metadata=res://*/deOROModel.csdl|res://*/deOROModel.ssdl|res://*/deOROModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=deORO.sdf&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="deOROEntities" connectionString="metadata=res://*/deOROModel.csdl|res://*/deOROModel.ssdl|res://*/deOROModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=deORO_Local_DBImport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="deOROEntities" connectionString="metadata=res://*/deOROModel.csdl|res://*/deOROModel.ssdl|res://*/deOROModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=deORO_Local;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="deOROEntities" connectionString="metadata=res://*/deOROModel.csdl|res://*/deOROModel.ssdl|res://*/deOROModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS2012;initial catalog=deORO_SC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.data>
    <!--<DbProviderFactories>
      -->
    <!--<remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />-->
    <!--
      <remove invariant="System.Data.SqlClient" />
      <add name="SqlClient Data Provider"
      invariant="System.Data.SqlClient"
      description=".Net Framework Data Provider for SqlServer"
      type="System.Data.SqlClient.SqlClientFactory, System.Data, 
     Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </DbProviderFactories>-->
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <clear />
        <add name="deOROMembershipProvider" type="deORODataAccessApp.DataAccess.deOROMembershipProvider, deORODataAccessApp" connectionStringName="deOROEntities" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ecSoap11Binding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="104857600" maxReceivedMessageSize="104857600" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ecSoap12Binding">
          <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </mtomMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="104857600" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="104857600" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISyncDataService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" allowCookies="true">
          <security>
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ec.usatech.com:9443/soap/ec.ecHttpSoap12Endpoint/" binding="customBinding" bindingConfiguration="ecSoap12Binding" contract="ePortConnect.ecPortType" name="ecHttpSoap12Endpoint" />
      <endpoint address="https://ec.usatech.com:9443/soap/ec.ecHttpSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="ecSoap11Binding" contract="ePortConnect.ecPortType" name="ecHttpSoap11Endpoint" />
      <endpoint address="http://localhost:55584/SyncDataService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISyncDataService" contract="deOROService.ISyncDataService" name="WSHttpBinding_ISyncDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>