.dpui-loading {
	background-color: rgba(0,0,0,0.5);
}
.dpui-loading-inner {
	height: 200px;
	width: 200px;
	background-color: #3c8dbc;
	border-radius: 5px;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
.dpui-loading-gif {
	width: 200px;
	height: 150px;
	font-size: 100px;
	color: white;
	background-image: url('dpLoading-2.x-skin-grey.gif');
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center center;
}
.dpui-loading-gif i, .dpui-loading-gif span, .dpui-loading-gif div, .dpui-loading-gif p,.dpui-loading-gif img {
	display: none;
}
.dpui-loading-text {
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #ffffff;
}