<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="deOROToOutAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="deOROToOutAPI.Properties.Settings.deORO_Server" connectionString="Data Source=.;Integrated Security=True;MultipleActiveResultSets=True;Connection Timeout=30;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=2;Pooling=true;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <deOROToOutAPI.Properties.Settings>
            <setting name="RUN_SERVICE_EVERY_X_MINUTES" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SERVER_NAME" serializeAs="String">
                <value>Server209</value>
            </setting>
            <setting name="API_URL_DOMAIN" serializeAs="String">
                <value>http://vendor4.me/</value>
            </setting>
            <setting name="API_URL_POST_DATABASE" serializeAs="String">
                <value>/api/deoro/report-databases/</value>
            </setting>
            <setting name="API_KEY" serializeAs="String">
                <value>7bd1d4ce1a68efb08fc89922d6a4293b35ecfa56</value>
            </setting>
            <setting name="API_URL_GET_ITEMS_FULL" serializeAs="String">
                <value>/api/deoro/report-item-full/</value>
            </setting>
            <setting name="API_URL_GET_ITEMS_CATALOG" serializeAs="String">
                <value>/api/deoro/report-item-catalog/</value>
            </setting>
            <setting name="API_URL_GET_ITEMS_LOCATIONS" serializeAs="String">
                <value>/api/deoro/report-item-location/</value>
            </setting>
            <setting name="API_URL_POST_CUSTOMER_LOCATIONS" serializeAs="String">
                <value>/api/deoro/report-customer-locations/</value>
            </setting>
            <setting name="API_URL_POST_SALES" serializeAs="String">
                <value>/api/deoro/report-sales/</value>
            </setting>
        </deOROToOutAPI.Properties.Settings>
    </applicationSettings>
</configuration>