select '[deORO_APlusVending]', * from [deORO_APlusVending].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_Arca]', * from [deORO_Arca].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_AutomaticSales]', * from [deORO_AutomaticSales].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_CarsonCity]', * from [deORO_CarsonCity].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_ConsolidatedVending]', * from [deORO_ConsolidatedVending].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_DenverHealthy]', * from [deORO_DenverHealthy].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_DoveVending]', * from [deORO_DoveVending].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_Empire]', * from [deORO_Empire].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_GoodStuffVending]', * from [deORO_GoodStuffVending].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_JustRightVending]', * from [deORO_JustRightVending].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_LakeViewVending]', * from [deORO_LakeViewVending].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_Mcliff]', * from [deORO_Mcliff].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_OrlandoVending]', * from [deORO_OrlandoVending].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_QualitySales]', * from [deORO_QualitySales].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_SaltLakeVending]', * from [deORO_SaltLakeVending].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_SantaClarita]', * from [deORO_SantaClarita].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_SantaClaritaTest]', * from [deORO_SantaClaritaTest].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_SchmidtVending]', * from [deORO_SchmidtVending].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_Servco]', * from [deORO_Servco].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_SitkaVending]', * from [deORO_SitkaVending].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_SnackRevolution]', * from [deORO_SnackRevolution].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_Sullivan]', * from [deORO_Sullivan].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_Test]', * from [deORO_Test].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_VendWatch]', * from [deORO_VendWatch].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';
select '[deORO_WestValley]', * from [deORO_WestValley].dbo.item where barcode like ' %' or barcode like '% ' or barcode like '%\n%' or barcode like '%\r%';

--update [deORO_SantaClaritaTest].dbo.item set barcode = rtrim(ltrim(barcode));
